@import url('https://fonts.googleapis.com/css?family=PT+Sans');
body{
    font-family: 'PT Sans', sans-serif;
    background-image:url(google-pixel-3-2560x1440-android-9-pie-abstract-4k-20688.jpg);
}
h1{
    text-align: center;
}
form{
    width: 800px;
    margin: 0 auto;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="datetime-local"]:focus{
    border-color: blue;
}

